<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Kotlin Spring Security Introduction</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Spring Security Introduction</h1>
        <p>Hello <span th:text="${username}">Thunderbiscuit</span>! Welcome to Spring Security with Kotlin</p>
        <p>This post shows how to configure basic Spring security with in memory authentication</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://stonesoupprogramming.com">Learn more</a>
        </p>
    </div>
</div>
</body>
</html>
